# Python / Backend
backend/.env
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/storage/trades.db
backend/logs/*.log
backend/logs/
backend/static/

# Frontend
frontend/.env
frontend/.env.local
frontend/.env.production
frontend/.env.development
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local

# OS / Editor files
.DS_Store
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.sln
*.swp
